* {margin:0px;padding:0px;}
ul {
  list-style-position:inside;
}
body {
    font:20px Arial;
    background:#E8E8EE;
    padding:0px;
}
a {
    color:inherit;
}
img {
  box-shadow: 5px 5px 5px #888888;
}
iframe {
  box-shadow: 5px 5px 5px #888888;
  text-align:center;
}


.title {
    font: 50px Arial;
    color: #FFFFFF;
    border:0px solid green;
    margin-top:10px;
    margin-bottom:50px;
    height:50px;
}

.splash {
  width: 100%;
  height: 80px;
  margin-top: 0px;
  background: #3C3C3C;
}

  .splash .desc {
    padding: 36px;
    font-size: 24px;
    line-height: 38px;
  }

.sel{
  font: 25px Arial;
  color: #FFFFFF;
  border:0px solid green;
  height:50px;
  margin-top:15px;
  margin-bottom:50px;
  padding:10px;
  text-align:right;
  background: #3C3C3C;
  text-decoration:none;
}

.section {
    font: 20px Arial;
    color: black;
}

.restr{
  margin:0px;
  padding:10px;
}

.howwork {
  padding:20px;
}

.extender {
  height:500px;
}

#languages {
  font: 12px Arial;
}

.end1 {
  height:120px;
}
.end2 {
  height:320px;
}

  @media only screen and (max-width : 1025px){
    .end1{
      height:0px;
    }
    .end2{
      height:0px;
    }
    .image{
      text-align:center;
    }
    .title {
      text-align:center;
      margin-bottom: 25px;
    }
    .sel {
      margin-top:0px;
      padding:0px;
      margin:0px;
      text-align:center;
      font:20px Arial;
      height:25px;
      margin-bottom:3px;
    }
  }
  @media only screen and (max-width : 767px) {
    .title {
      text-align: center;
      padding-left: 0px;
      font:40px Arial;
      line-height: 60px;
      margin-bottom:25px;
    }
    .sel {
      margin-top:0px;
      padding:0px;
      margin:0px;
      text-align:center;
      font:20px Arial;
      height:25px;
      margin-bottom:3px;
    }
  }
