* {margin:0px;padding:0px; line-height:1.4;}
ul {
  list-style-position:inside;
}
body {
    font:30px Arial;
    background:#E8E8EE;
    padding:0px;
    line-height:1.4;
}
a {
    color:inherit;
}
iframe {
  box-shadow: 5px 5px 5px #888888;
  text-align:center;
}

.proj {
  font:20px Arial;
}

.title {
    font: 50px Arial;
    color: #FFFFFF;
    border:0px solid green;
    margin-top:10px;
    /*height:50px;*/
}

.splash {
  width: 100%;
  height: 80px;
  margin-top: 0px;
  background: #3C3C3C;
}

  .splash .desc {
    padding: 36px;
    font-size: 24px;
    line-height: 38px;
  }

.sel{
  font: 25px Arial;
  color: #FFFFFF;
  border:0px solid green;
  height:50px;
  margin-top:15px;
  margin-bottom:50px;
  padding:10px;
  text-align:right;
  /*background: #3C3C3C;*/
  text-decoration:none;
}

.section {
    font: 20px Arial;
    color: black;
    padding:10px;
}

.restr{
  margin:0px;
  padding:10px;
}

.howwork {
  padding:20px;
}

.extender {
  height:500px;
}

.logo {
  vertical-align: middle;
}

.serviceLink {
  text-decoration: none;
  display: inline;
}

.serviceContainer {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: lightgrey;
  padding: 10px 10px 10px 10px;
  /*border-radius: 5px;*/
}

.serviceContainer:hover {
  background-color: grey;
}

#languages {
  font: 12px Arial;
}

@media only screen and (max-width : 1025px){
  .image{
    text-align:center;
  }
  .title {
    margin-bottom: 5px;
  }
  .title::before{
    content:'<h1>Test</h1>'
  }
  .sel {
    display:none;
  }
}
